<nav class="navbar navbar-expand navbar-dark bg-dark px-3" *ngIf="account">
    <div class="container-fluid">
        <a routerLink="/" class="navbar-brand">Angular 21 Auth</a>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a routerLink="/" routerLinkActive="active" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/profile" routerLinkActive="active" class="nav-link">Profile</a>
                </li>
                <li class="nav-item" *ngIf="account.role === 'Admin'">
                    <a routerLink="/admin" routerLinkActive="active" class="nav-link">Admin</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a (click)="logout()" class="nav-link" style="cursor: pointer;">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet name="subnav"></router-outlet>

<div class="container mt-4">
    <alert></alert>
    <router-outlet></router-outlet>
</div>